* {
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    padding: auto;
    width: 100%;
}
        /* ==============code style heaeder================= */
header {
    background-color: red;
    height: 50px;
    width: 100%;
}

        /* ==================style body==================== */
main {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* category */
    main .category {
        background-color: aqua;
        width: 25%;
        height: 100%;
    }

    /* body */
    main .body {
        background-color: chartreuse;
        width: 75%;
        height: 100%;
    }

        /* =================style footer================== */ 
footer {
    background-color: blueviolet;
    width: 100%;
    height: 100px;
}